In [1]:
def times2(var):
    print(var*2)

In [2]:
times2(5)

10


# Map Function

In [ ]:
seq = [1,2,3,4,5]

In [4]:
seq

[1, 2, 3, 4, 5]

In [6]:
map(times2,seq)

In [8]:
list(map(times2,seq))             #list fucntion

2
4
6
8
10

[None, None, None, None, None]

# Lambda Function

In [12]:
def times2(var): return var*2

In [14]:
t = lambda var : var*2

In [15]:
t

In [16]:
t(122)

244

In [17]:
t(-4)

-8

In [20]:
t1 = lambda var: var**2

In [21]:
t(-4)

-8

In [22]:
t1(-4)

16

In [23]:
t1(-144)

20736

In [24]:
seq = (1,2,3,4)

In [25]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12]

In [26]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [27]:
s = 'HI MY NAME IS JORDAN'

In [30]:
s.lower()                     ## It convers the letter into lower case

'hi my name is jordan'

In [32]:
s.split()           ## splits the string

['HI', 'MY', 'NAME', 'IS', 'JORDAN']

In [33]:
tweet = "Go sports! #Sports"

In [34]:
tweet.split()

['Go', 'sports!', '#Sports']

In [35]:
tweet.split()[1]

'sports!'

In [37]:
d = {'key1': 1,'key2': 2}

In [45]:
d.keys()

dict_keys(['key1', 'key2'])

In [43]:
d.items()

dict_items([('key1', 1), ('key2', 2)])

In [46]:
list = [1,2,3]

In [47]:
list.pop()

3

In [48]:
list

[1, 2]

In [49]:
list = [1,2,3,4,5]

In [50]:
list

[1, 2, 3, 4, 5]

In [51]:
list.pop()

5

In [52]:
list.append("new")

In [53]:
list

[1, 2, 3, 4, 'new']

In [54]:
#Tuple Unpacking

In [55]:
x = [(1,2),(3,4),(5,6)]

In [56]:
x

[(1, 2), (3, 4), (5, 6)]

In [57]:
x[1]

(3, 4)

In [62]:
x[0][0],x[0][1],x[1][0],x[1][1],x[2][0],x[2][1]

(1, 2, 3, 4, 5, 6)

In [64]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [65]:
for (a,b) in x:
    print(x)

[(1, 2), (3, 4), (5, 6)]
[(1, 2), (3, 4), (5, 6)]
[(1, 2), (3, 4), (5, 6)]

In [66]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 6

In [67]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6