Float

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
print(2+2)

4

In [5]:
1 * 3

3

In [6]:
2*5

10

In [7]:
2 ** 4

16

In [8]:
1.0/2.0

0.5

In [9]:
1/2.0

0.5

In [10]:
5 + 5 * 2 + 3

18

In [11]:
(5 + 5) * (2 + 3)

50

(%) is known as mod and it gives the remainder

In [12]:
4 % 2

0

In [13]:
5 % 2

1

In [14]:
8 % 2

0

# Assignment Operators

In [15]:
x = 4

In [16]:
x

4

In [17]:
y = 5

In [18]:
y

5

In [19]:
x + y

9

In [20]:
x * y

20

In [21]:
x = x + x

In [22]:
x

8

In [23]:
x

8

You can assign the values to a variable by using ( = ) sign.

# Strings

* you can either use single quotes or double quotes for a string. Both Works.

In [25]:
'single quote'

'single quote'

In [26]:
"double quote"

'double quote'

In [27]:
"single quote"

'single quote'

In [28]:
'double quote'

'double quote'

In [29]:
x = 'hello'

In [30]:
x

'hello'

In [31]:
name = 'jordan'
number = 1

In [33]:
'My name is {} and my Im number {}'.format(name,number)

'My name is jordan and my Im number 1'

In [34]:
'My name is {item1} and my Im number {item2}'.format(item1 = name,item2 = number)

'My name is jordan and my Im number 1'

In [37]:
'My name is {item1} and my Im number {item2} and more {item2}'.format(item1 = name, item2 = number )

'My name is jordan and my Im number 1 and more 1'

# Indexing strings

In [39]:
s = 'hello'

In [41]:
s[0]             #indexing in python starts at zero. Use square brackets for string indexing

'h'

In [44]:
s[0:5]           # to grab everything in the string you can count the letters and add it using colon or

'hello'

In [46]:
s[0:]            #just add : after 0 to grab everything

'hello'

In [47]:
s[4]             # to grab an individual letter

'o'

In [48]:
s[2:4]

'll'

# Lists

In [49]:
#examples of lists

In [50]:
[4,5,6]

[4, 5, 6]

In [51]:
['l','m','n']

['l', 'm', 'n']

In [52]:
mylist = ["a","b","c"]

In [53]:
mylist

['a', 'b', 'c']

* to add an item in the list

In [60]:
mylist.append("d") #use append. It can take only one argument at a time

In [61]:
mylist

['a', 'b', 'c', 'd', 'd', 'd']

In [62]:
mylist

['a', 'b', 'c', 'd', 'd', 'd']

In [63]:
mylist[1]

'b'

In [64]:
mylist[3] = 'NEW'

In [65]:
mylist

['a', 'b', 'c', 'NEW', 'd', 'd']

In [66]:
mylist[4] = "VARIABLE"

In [67]:
mylist

['a', 'b', 'c', 'NEW', 'VARIABLE', 'd']

In [70]:
nest = [1,2,[3,4]]

In [71]:
nest

[1, 2, [3, 4]]

In [73]:
## list inside a list

In [74]:
nest[2]

[3, 4]

In [75]:
nest[2][1]

4

In [77]:
nest = [1,2,3,[4,5,['jordan']]]

In [81]:
nest[3][2][0]

'jordan'

In [82]:
print(nest[3][2][0])

jordan